@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url('../Image\ Files/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw) max(70vh,100vh);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
    height: 62px;
}

nav img {
    color: red;
    width: 160px;
    position: relative;
    z-index: 10;
    margin-top: 25px;
}

nav button {
    position: relative;
    z-index: 11;
    margin: 0px 10px;
    font-size: 15px;
}

nav select {
    position: relative;
    z-index: 11;
    border-radius: 5px;
    outline: none;
    margin: 0px 10px;
    font-size: 17px;
}

.hero {
    color: white;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 20px;
    padding: 0px 30px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    height: 6px;
    background-color: rgb(45, 45, 45);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 6px 10px;
    font-weight: 400;
    background-color: white;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(210, 0, 0);
}

.slct {
    padding: 4px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);

}

.slct option {

    color: black;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 8px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}

.btn-red-sm {
    background-color: red;
    color: white;

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 10px 101px 10px 14px;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.7);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.307);
    color: white;
}

.main input::placeholder {
    color: white;
}
section div{
    color: white;
}
.First{
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.secimg{
    position: relative;
}
.secimg img{
    width: 555px;
    position: relative;
    top: 6px;
    z-index: 2;
}
.secimg video{
    position: absolute;
    right: 0;
    top: 51px;
    height: 63%;
    width: 89%;
}
.First div{
    display: flex;
    flex-direction: column;
}
.First div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 35px;
}
.First div :nth-child(2){
    font-size: 24px;
    /* font-weight: bolder; */
}
.Second{
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.ssecimg{
    position: relative;
}
.ssecimg img{
    width: 30w;
    position: relative;
    z-index: 2;
}
.ssecimg video{
    position: absolute;
    right: 0;
    top: 51px;
    height: 63%;
    width: 89%;
}
.Second div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Second div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.Second div :nth-child(2){
    font-size: 24px;
    /* font-weight: bolder; */
}
.ssecimg .boxshot1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid rgba(255, 255, 255, 0.351);
    border-radius: 10px;
    padding: 2px 5px;
    width: 60%;
    position: relative;
    z-index: 2;
    bottom: 30px;
}
.ssecimg .boxshot1 img{
    margin: auto 0px;
    width:50px;
    height: 70px;
}
.ssecimg .boxshot1 :nth-child(1){
    margin-bottom: 0px;
}
.ssecimg .boxshot1 .boxshot2 :nth-child(1){
    font-size: 20px;
    font-weight: 100;
    margin-left: 5px;
    margin-bottom: 10px;
}
.ssecimg .boxshot1 .boxshot2 :nth-child(2){
    text-align: center;
    font-size: 15px;
    color: blue;
    font-weight: 100;
    margin-bottom: 10px;
}
.tsecimg{
    position: relative;
}
.tsecimg img{
    width: 555px;
    position: relative;
    z-index: 2;
}
.tsecimg video{
    position: absolute;
    right: 0;
    top: 35px;
    height: 43%;
    width: 99%;
}
.Third div{
    display: flex;
    flex-direction: column;
}
.Third div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 35px;
}
.Third div :nth-child(2){
    font-size: 24px;
    /* font-weight: bolder; */
}
.Third{
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.Fourth{
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.fsecimg{
    position: relative;
}
.fsecimg img{
    width: 30vw;
    position: relative;
    z-index: 2;
}
.fsecimg video{
    position: absolute;
    right: 0;
    top: 51px;
    height: 63%;
    width: 89%;
}
.Fourth div{
    display: flex;
    flex-direction: column;
}
.Fourth div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 35px;
}
.Fourth div :nth-child(2){
    font-size: 24px;
    /* font-weight: bolder; */
}
.faq{
    font-size: 24px;
    background-color:black;
    color: white;
    padding: 34px;
}
.faq h2{
    text-align: center;
}
.faqbox{
    display: flex;
    background-color: rgb(87, 87, 87);
    padding: 15px 20px;
    width: 60vw;
    margin: 25px auto;
    justify-content: space-between;
    cursor: pointer;
    padding: 25px;
}
.faqbox:hover{
    background-color: rgb(130, 129, 129);
}
.faqbox svg{
    filter: invert(1);
}
.faqbx{
    text-align: center;
}
.faqbx div{
    margin-top: 15px;
}
.faqbx input {
    padding: 10px 101px 10px 14px;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.7);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.307);
    color: white;
}
.faqbx input::placeholder {
    color: white;
}
footer{
    width: 70vw;
    margin: 40px auto;
    color: rgba(255, 255, 255, 0.675);
}
footer div{
    margin: 10px 0px;
    
}
.footh{
    font-size: 20px;
}
.footh a{
    color: rgba(255, 255, 255, 0.675);
}
.foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.foot div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foot div a{
    color: rgba(255, 255, 255, 0.675);
}
.footb select{
    margin: 10px 0px;
    border-radius: 5px;
    color:rgba(255, 255, 255, 0.675) ;
}
.footcopy{
    margin: 10px 0px;
    color: rgba(255, 255, 255, 0.675);
}